@import "bootstrap/dist/css/bootstrap.css";
@import "../css/bootstrap.css";
@import "@fortawesome/fontawesome-free/css/all.css";

.list-group-item-action.bg-dark.active {
    background-color: #0d6efd !important;
    border-left: 4px solid #fff;
}

.list-group-item-action.bg-dark:hover {
    background-color: #343a40 !important;
}

a {
    text-decoration: none;
    color:#343a40;
}

a.active {
    font-weight: bold;
    color: #0d6efd;
}
.add-like-btn.liked {
    color: #0d6efd;
}

.add-like-btn:active {
    transform: scale(0.95);
}

.add-like-btn {
    transition: all 0.2s ease;
}
