@import "bootstrap/dist/css/bootstrap.min.css";
@import "../css/bootstrap.css";

.list-group-item-action.bg-dark.active {
    background-color: #0d6efd !important;
    border-left: 4px solid #fff;
}

.list-group-item-action.bg-dark:hover {
    background-color: #343a40 !important;
}

a {
    text-decoration: none;
    color:#343a40;
}

a.active {
    font-weight: bold;
    color: #0d6efd;
}
